

<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-12">
                    <h6 class="description">OUR TEAM</h6>
                    <div class="row pt-md">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="./Assets/images/home/DSC03054.jpg" class="img-responsive">
                                <ul class="text-center">
                                    <li><a href="https://www.facebook.com/aleks.e.peneva" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <h1>Aleksandra Peneva</h1>
                            <h2>Student at Telerik Academy</h2>
                            <p>D&D enthusiast, nature lover, adventure seeker</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="./Assets/images/home/DSC03056.jpg" class="img-responsive">
                                <ul class="text-center">
                                    <li><a href="https://www.facebook.com/profile.php?id=100004829167867" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <h1>Lubomir Yonchev</h1>
                            <h2>Student at Telerik Academy</h2>
                            <p>Learns from history, forges the future</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="./Assets/images/home/DSC00221.jpg" class="img-responsive">
                                <ul class="text-center">
                                    <li><a href="https://www.facebook.com/TungKDo" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/tungkdo/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <h1>Tung Do</h1>
                            <h2>Student at Telerik Academy</h2>
                            <p>Soul of the company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">

            <h6>Coded with <i class="fa fa-heart red"></i> by <a href="https://github.com/ALTPorfolio/AlphaPhotography" target="_blank">ALT</a></h6>
        </div>
    </div>
</footer>
