<div class='header'>
    <div class="row">
        <!-- first column -->
        <div class="col-sm-6">*Description in the first box*</div>
        <!-- second column -->
        <div class="col-sm-6">
            <h1>Google maps in the second box</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39476.03522013701!2d23.36175538387015!3d42.65978993148515!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86940322e46b%3A0x9dcf2a89d173b821!2sTelerik+Academy!5e0!3m2!1sbg!2sbg!4v1519549179874" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>