    <script src='./controller/pages/inspire_us.js'></script>



    <div id='inspire-us' class='row'>

    </div>


    <form class='form-inline'>
        <div class="form-group"> 
        <label type="text" for="user-name">Your name(s):</label> 
        <input type="text" class="form-control" id="user-name"> 
    </div> 
    <div class="form-group"> 
        <label type="text" for="picture-description">Picture description:</label> 
        <input type="text" class="form-control" id="picture-description" placeholder="Short description of picture..."> 
    </div>  
        <div class='form-group'>
            <label type='text' for='picture-url'>Link to picture:</label>
            <input type='text' class='form-control' id='picture-url' placeholder='https://example-site.com/example-pic.png'>
        </div>
        <button id='submit-picture' type='submit' class='btn btn-default'>Submit</button>
    </form>

    <script src='./controller/pages/inspire_us.js'></script>

