<input type="text" id="meta_title" name="seo_meta_title">
<input type="text" id="meta_description" name="seo_meta_description">
<input type="text" id="header" name="header">

<!-- Submit form-->
<input type="submit" value="Create">

<!-- buttons-->
<button id="save">save</button>
<button id="load">load</button>

<script type="text/javascript">
    $('#save').on('click', function () {

        $('input[type="text"]').each(function () {
            var id = $(this).attr('id');
            var value = $(this).val();
            localStorage.setItem(id, value);

        });
    });

    $('#load').on('click', function () {
        $('input[type="text"]').each(function () {
            var id = $(this).attr('id');
            var value = localStorage.getItem(id);

            $(this).val(value);

        });
    });
</script>
