<form id="submit-photo-form">
    <input type="text" id="user-name">
    <input type="text" id="picture-description">
    <input type="text" id="picture-url">

    <button id="submit">Submit!</button>

    <script type="text/javascript">
        $('#submit').on('click', function () {

            $('input[type="text"]').each(function () {
                var id = $(this).attr('id');
                var value = $(this).val();
                localStorage.setItem(id, value);

            });
        });
    </script>
</form>
