<div class='footer-component'>
        <div class = 'footer-area'>
    
            <nav id="footerlist" class="list">
                    <a id="facebook-btn" href="https://www.facebook.com/tungkdo" class="social-media-link"></a>
                    <a id="instagram-btn" href="https://www.instagram.com/tungkdo" class="social-media-link">Portraits </a>
                    <a id="linkedin-btn" href="https://www.linkedin.com/in/tungkdo" class="social-media-link">Landscapes</a>
            </nav>

        </div>
</div>