<div class='navigation-bar-component'>
    <div class = 'navigation-bar-area'>
        <h1 class = logo>
            <a href = #home>
                T.K.Do
            </a>
        </h1>

        <nav id="navigation" class="list">
                <a id="home-btn" href="#home" class="item link">Home</a>
                <a id="portraits-btn" href="#portraits" class="item link">Portraits </a>
                <a id="landscapes-btn" href="#landscapes" class="item link">Landscapes</a>
                <a id="contact-btn" href="#contact" class="item link">Contract</a>
        </nav>

        <!--<button id="navHamburger" class="toggle">
                <span class="icon"></span>
              </button>
            -->
    </div>
</div>